src/main/java/com/yunker/eai/oaPackage/HXCRMService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.10.0.251/services/HXCRMService" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://10.10.0.251/services/HXCRMService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://10.10.0.251/services/HXCRMService">
<xsd:element name="getAllStaffInfoList">
<xsd:complexType/>
</xsd:element>
<xsd:complexType name="ArrayOfAnyType2anyTypeMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType2anyTypeMap" nillable="true" type="tns:anyType2anyTypeMap"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="anyType2anyTypeMap">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="key" type="xsd:anyType"/>
<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:anyType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getAllStaffInfoListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAnyType2anyTypeMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getFramworkProcessesById">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getFramworkProcessesByIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAnyType2anyTypeMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getWFStatusByIdList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getWFStatusByIdListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfAnyType2anyTypeMap"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getWFStatusByIdListRequest">
    <wsdl:part name="parameters" element="tns:getWFStatusByIdList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFramworkProcessesByIdResponse">
    <wsdl:part name="parameters" element="tns:getFramworkProcessesByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllStaffInfoListResponse">
    <wsdl:part name="parameters" element="tns:getAllStaffInfoListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllStaffInfoListRequest">
    <wsdl:part name="parameters" element="tns:getAllStaffInfoList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWFStatusByIdListResponse">
    <wsdl:part name="parameters" element="tns:getWFStatusByIdListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFramworkProcessesByIdRequest">
    <wsdl:part name="parameters" element="tns:getFramworkProcessesById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HXCRMServicePortType">
    <wsdl:operation name="getAllStaffInfoList">
      <wsdl:input name="getAllStaffInfoListRequest" message="tns:getAllStaffInfoListRequest">
    </wsdl:input>
      <wsdl:output name="getAllStaffInfoListResponse" message="tns:getAllStaffInfoListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFramworkProcessesById">
      <wsdl:input name="getFramworkProcessesByIdRequest" message="tns:getFramworkProcessesByIdRequest">
    </wsdl:input>
      <wsdl:output name="getFramworkProcessesByIdResponse" message="tns:getFramworkProcessesByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWFStatusByIdList">
      <wsdl:input name="getWFStatusByIdListRequest" message="tns:getWFStatusByIdListRequest">
    </wsdl:input>
      <wsdl:output name="getWFStatusByIdListResponse" message="tns:getWFStatusByIdListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HXCRMServiceHttpBinding" type="tns:HXCRMServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllStaffInfoList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllStaffInfoListRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllStaffInfoListResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFramworkProcessesById">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFramworkProcessesByIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFramworkProcessesByIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWFStatusByIdList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getWFStatusByIdListRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWFStatusByIdListResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HXCRMService">
    <wsdl:port name="HXCRMServiceHttpPort" binding="tns:HXCRMServiceHttpBinding">
      <!--<wsdlsoap:address location="http://10.10.0.251:8089/services/HXCRMService"/>-->
      <wsdlsoap:address location="http://bloomageoa.bloomagebiotech.com/services/HXCRMService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
